{
  "timeZone": "Asia/Tokyo",
  "fallback": {
    "intervalMinutes": 5,
    "speak": {
      "message": "市場がクローズしています"
    }
  },
  "periods": [
    {
      "start": "08:45",
      "end": "09:00",
      "candle": {
        "durationMinutes": 5
      },
      "rules": [
        {
          "when": {
            "periodStarted": true
          },
          "speak": {
            "message": "8時45分です。先物が始まりました"
          }
        },
        {
          "when": {
            "candleClosed": true
          },
          "speak": {
            "message": "５分経過"
          }
        }
      ]
    },
    {
      "start": "09:00",
      "end": "11:30",
      "candle": {
        "durationMinutes": 1
      },
      "rules": [
        {
          "when": {
            "periodStarted": true
          },
          "speak": {
            "message": "9時です。１分足にきりかえてください。"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 10
          },
          "speak": {
            "message": "10秒前"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 5
          },
          "speak": {
            "message": "5秒前"
          }
        },
        {
          "when": {
            "candleClosed": true
          },
          "speak": {
            "message": "ローソク確定"
          }
        }
      ]
    },
    {
      "start": "11:30",
      "end": "15:30",
      "candle": {
        "durationMinutes": 3
      },
      "rules": [
        {
          "when": {
            "periodStarted": true
          },
          "speak": {
            "message": "11時30分です。3分足に切り替えてください"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 60
          },
          "speak": {
            "message": "残り1分"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 30
          },
          "speak": {
            "message": "30秒前"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 10
          },
          "speak": {
            "message": "10秒前"
          }
        },
        {
          "when": {
            "secondsBeforeClose": 5
          },
          "speak": {
            "message": "5秒前"
          }
        },
        {
          "when": {
            "candleClosed": true
          },
          "speak": {
            "message": "ローソク確定"
          }
        }
      ]
    }
  ]
}
